{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>{{ 'form.login.title' }}</h1>
                    {{ form_start(form) }}
                    {% if error %}<div class="text-center alert alert-danger margin-bottom-25">{{ error.message|trans }}</div>{% endif %}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'word.login'|trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}