{% extends 'base.html.twig' %}

{% block title %}{{ 'page.login.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>{{ 'form.login.title'|trans }}</h1>
                    {{ form_start(form) }}
                    {% if error %}<div class="text-center alert alert-danger margin-bottom-25">{{ error.message|trans }}</div>{% endif %}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'word.login'|trans }}</button>
                    <a href="{{ path('app_security_sendupdatepassword') }}" class="mx-2">{{ 'word.password.forgot'|trans }}</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>{{ 'word.registration'|trans|capitalize }}</h1>
                    <div class="d-flex align-items-center">
                        <span><i class="fas fa-arrow-circle-right fa-2x"></i></span><a class="mx-4" href="{{ path('app_security_registration') }}">{{ 'word.im.registering'|trans|capitalize }}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}