{% extends 'base.html.twig' %}

{% block title %}{{ 'page.error.403.title'|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'page.error.403.h1'|trans|capitalize }}</h1>
        <div class="alert alert-danger">
            <p>{{ 'page.error.403.info'|trans|capitalize }}</p>
        </div>

        <a href="{{ path('app_app_index') }}" class="btn btn-outline-success">{{ 'button.return.home'|trans|capitalize }}</a>
    </div>
{% endblock %}