{% extends 'base.html.twig' %}

{% block title %}{{ 'form.trick.add.title'|trans }}{% endblock %}

{% form_theme form '/partials/_collectionMedia.html.twig' %}


{% block body %}
    <div class="container">
        <h1>{{ 'form.trick.add.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'form.trick.button.add'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/collectionTrick.js"></script>
{% endblock %}