{% extends 'base.html.twig' %}

{% block title %}{{ 'form.trick.title'|trans }}{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>{{ 'form.trick.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer la figure</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _trick_media_widget %}
    {{ 'form.trick.media.caption'|trans }}
    <!-- Button trigger modal -->
    <a type="button" class="badge badge-info" data-toggle="modal" data-target="#exampleModal">{{ 'info'|trans }}</a>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'form.media.modal.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>{{ 'form.media.modal.subtitle'|trans }}</h6>
                    {{ 'form.media.modal.message'|trans }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <button type="button" id="add-media" data-list="#trick_media" class="btn btn-primary">Ajouter un média</button>
{% endblock %}

{% block _trick_media_entry_widget %}
    <div class="form-group mt-3" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">{{ form_widget(form.link) }}</div>
                    <div class="col">{{ form_widget(form.type) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col">{{ form_widget(form.caption) }}</div>
                </div>
            </div>
            <div class="col-2 d-flex align-self-center">
                <button type="button" data-action="delete-media" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _trick_media_entry_row %}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-media').click(function () {
            var list = $('#trick_media div.form-group').length;
            var tmpl = $('#trick_media').data('prototype');
            tmpl = tmpl.replace(/__name__/g, list);
            $('#trick_media').append(tmpl);

            handleDeleteButtons();
        });

        function handleDeleteButtons() {
            $('button[data-action="delete-media"]').click(function () {
                var target = this.dataset.target;
                $(target).remove();
            });
        }
        //initialise la function au rechargement de la page
        handleDeleteButtons();
    </script>
{% endblock %}