{% extends 'base.html.twig' %}

{% block title %}{{ 'page.edit.media.title'|trans }}{{ trick.name }}{% endblock %}

{% form_theme form '/partials/_collectionEditMedia.html.twig' %}


{% block body %}
    <div class="container">
        <h1>{{ 'form.trick.add.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'word.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#add-video').on('click', function () {
                var count = $('#trick_edit_media_videos div.form-group').length;
                var tmpl = $('#trick_edit_media_videos').data('prototype').replace(/__name__/g, count);
                $('#trick_edit_media_videos').append(tmpl);
            });

            $('#add-image').on('click', function () {
                var count = $('#trick_edit_media_images div.form-group').length;
                var tmpl = $('#trick_edit_media_images').data('prototype').replace(/__name__/g, count);
                $('#trick_edit_media_images').append(tmpl);
            });

            $('div').on('click', '.delete-button', function() {
                $(this).parent().parent().remove();
            });
        });
    </script>
{% endblock %}
