{% extends 'base.html.twig' %}

{% block title %}{{ 'form.trick.edit.title'|trans }}{% endblock %}

{% form_theme form '/partials/_collectionMedia.html.twig' %}

{% block body %}
    <div class="trick-title" style="background-image: url({{ trick.coverImage.linkPath }})">
        <h1 class="trick-title text-center">{{ 'form.trick.edit.title'|trans }} {{ 'word.punctuation.cot'|trans }}{{ trick.name }}{{ 'word.punctuation.cot'|trans }}</h1>
        <div class="border border-primary col-1 rounded info text-center">
            <a href="{{ path('app_trick_editcoverimage', {'slug': trick.slug}) }}">
                <i class="far fa-edit mr-2-1" title="{{ 'link.trick.edit.coverImage'|trans|capitalize }}"></i>
            </a>
            <a href="#" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                <i class="far fa-trash-alt ml-2" title="{{ 'link.trick.delete.coverImage'|trans|capitalize }}"></i>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if trick.images %}
                {% for image in trick.images %}
                    <div class="col-4 mt-3">
                        <a href="{{ image.linkPath }}"><img src="{{ image.linkPath }}" class="img-fluid" alt="{{ image.caption }}">
                        </a>
                        {% if (app.user == trick.user) or is_granted('ROLE_ADMIN') %}
                            <div class="d-flex justify-content-center">
                                <div class="border border-secondary rounded col-3 text-center my-2 info">
                                    <a href="{{ path('app_trick_editimage', {'slug': image.trick.slug, 'id': image.id}) }}">
                                        <i class="far fa-edit mx-1" title="{{ 'link.title.image.edit' }}"></i>
                                    </a>
                                    <a href="{{ path('app_trick_removemedia', {'mediaType': 'image', 'trick_slug': trick.slug, 'mediaId': image.id }) }}" class="delete" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                                        <i class="far fa-trash-alt mx-1" title="{{ 'link.title.image.delete'|trans }}"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if trick.videos %}
                {% for video in trick.videos %}
                    <div class="col-4 mt-3">
                        <div class="embed-responsive embed-responsive-16by9">
                            {{ video.tag|raw }}
                        </div>
                        {% if (app.user == trick.user or is_granted('ROLE_ADMIN')) %}
                            <div class="d-flex justify-content-center">
                                <div class="border border-secondary rounded col-3 text-center my-2 info">
                                    <a href="{{ path('app_trick_editvideo', {'slug': video.trick.slug, 'id': video.id}) }}">
                                        <i class="far fa-edit mx-1" title="{{ 'link.title.video.edit' }}"></i>
                                    </a>
                                    <a href="{{ path('app_trick_removemedia', {'mediaType': 'video', 'trick_slug': trick.slug, 'mediaId': video.id }) }}" class="delete" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                                        <i class="far fa-trash-alt" title="{{ 'link.title.video.delete'|trans }}"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="{{ path('app_trick_addmedia', {'slug': trick.slug}) }}">
            {{ 'link.title.media.add'|trans }}
        </a>
    </div>
        <div class="">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'form.trick.button.edit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


