{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des figures de snowboard</h1>
        <div class="row">
            {% for trick in tricks %}
                <div class="col-md-4 mt-4">
                    <div class="card">
                        {#{% for image in trick.images|slice(1) %}#}
                        {%  if trick.images %}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ trick.images[0].link ) }}" alt="{{ trick.images[0].caption }}">
                        {% else %}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ '0ca24ae0541ec73dee995b922c144fd3.jpeg' ) }}" alt="">
                            {% endif %}
                        {#{% endfor %}#}
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <div class="card-text">
                                {# {{ trick.introduction }} #}
                            </div>
                            <a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="btn btn-primary">En savoir plus</a>
                            {% if app.user == trick.user %}
                                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
                                    <i class="far fa-edit mx-2" title="{{ 'link.title.trick.edit'|trans }}"></i>
                                </a>
                                <a href="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                                <i class="far fa-trash-alt mx-2" title="{{ 'link.title.trick.delete'|trans }}"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
