{% extends 'base.html.twig' %}

{% block title %}Trick : {{ trick.name }}{% endblock %}

{% block body %}
{% for images in trick.images|slice(1) %}
    <div class="trick-title" style="background-image: url({{ asset('uploads/images/' ~ images.link) }})">
    {% else %}
    <div class="trick-title" style="background-image: url({{ asset('uploads/images/' ~ '0ca24ae0541ec73dee995b922c144fd3.jpeg') }})">
{% endfor %}
    <h1 class="trick-title text-center">{{ trick.name }}</h1>

    <div class="container">
        <p class="text-center mb-3" style="padding-top: 300px">{{ trick.description }}</p>
        {% if trick.images %}
            {% for images in trick.images %}
                <img src="{{ asset('uploads/images/' ~ images.link) }}" alt="{{ images.caption }}" width="400" height="200">
            {% endfor %}
        {% endif %}
        {% if trick.videos %}
            {% for videos in trick.videos %}
                {% for video in videos %}
                    {{ video|raw }}
                    {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% if app.user %}
                {{form_start(form, {'action': path('app_comment_add', {'slug': trick.slug})})}}
                {{form_row(form.content, {'label': 'form.comment.add.content.label'})}}
                {{form_end(form)}}
            {% endif %}
        </div>
        <div id="comments">
        </div>
        <div>
            <button id="more_com" type="button" class="btn btn-success mb-4">{{ 'word.more.comment'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            function getComments() {
                const nbComments = $('#comments div.card').length;
                const url = "{{ path('app_comment_getcomments', {'trick_slug': trick.slug, 'offset': 'nb_comments' }) }}";
                const urlFormat = url.replace('nb_comments', nbComments);
                $.ajax({
                    url: urlFormat,
                    type: 'GET',
                    success: function (response) {
                        $('#comments').append(response);
                    }
                });
            }

            getComments();

            $('#more_com').click(function () {
                getComments();
            });
        });
    </script>
{% endblock %}