{% extends 'base.html.twig' %}

{% block title %}Trick : {{ trick.name }}{% endblock %}

{% block body %}
{% if trick.images %}
    <div class="trick-title" style="background-image: url({{ asset('uploads/images/' ~ trick.images[0].link) }})">
    {% else %}
    <div class="trick-title" style="background-image: url({{ asset('uploads/images/' ~ 'montagnes.jpeg') }})">
{% endif %}
    <h1 class="trick-title text-center">{{ trick.name }}</h1>
    {% if (app.user == trick.user) or (app.user.roles[1] == 'ROLE_ADMIN') %}
    <a href="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
        <i class="far fa-trash-alt" title="{{ 'link.title.trick.delete'|trans }}"></i>
    </a>
    <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
        <i class="far fa-edit" title="{{ 'link.title.trick.edit'|trans }}"></i>
    </a>
    <a href="{{ path('app_trick_editmedia', {'slug': trick.slug}) }}" >
        <i class="far fa-images" title="{{ 'link.title.media.add'|trans }}"></i>
    </a>

{% endif %}
    <div class="container">
        <p class="text-center mb-3" style="padding-top: 300px">{{ trick.description }}</p>
        {% if trick.images %}
            {% for image in trick.images %}
                <img src="{{ asset('/uploads/images/' ~ image.link) }}" alt="{{ image.caption }}" width="400" height="200">
                {% if (app.user == trick.user) or (app.user.roles[1] == 'ROLE_ADMIN') %}
                    <a href="{{ path('app_trick_removemedia', {'mediaType': 'image', 'trick_slug': trick.slug, 'mediaId': image.id }) }}" class="delete" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                    <i class="far fa-trash-alt" title="{{ 'link.title.image.delete'|trans }}"></i>
                </a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if trick.videos %}
        {% for video in trick.videos %}
            {{ video.tag|raw }}
            {% if (app.user == trick.user) or (app.user.roles[1] == 'ROLE_ADMIN') %}
                    <a href="{{ path('app_trick_removemedia', {'mediaType': 'video', 'trick_slug': trick.slug, 'mediaId': video.id }) }}" class="delete" onclick="return confirm('{{ 'flash.alert.delete'|trans }}')">
                    <i class="far fa-trash-alt" title="{{ 'link.title.video.delete'|trans }}"></i>
                </a>
                {% endif %}
        {% endfor %}
        {% endif %}
        <div>
            {% if app.user %}
                {{form_start(form, {'action': path('app_comment_add', {'slug': trick.slug})})}}
                {{form_row(form.content, {'label': 'form.comment.add.content.label'})}}
                {{form_end(form)}}
            {% endif %}
        </div>
        <div id="comments">
        </div>
        <div>
            <button id="more_com" type="button" class="btn btn-success mb-4">{{ 'word.more.comment'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            function getComments() {
                const nbComments = $('#comments div.card').length;
                const url = "{{ path('app_comment_getcomments', {'trick_slug': trick.slug, 'offset': 'nb_comments' }) }}";
                const urlFormat = url.replace('nb_comments', nbComments);
                $.ajax({
                    url: urlFormat,
                    type: 'GET',
                    success: function (response) {
                        $('#comments').append(response);
                    }
                });
            }

            getComments();

            $('#more_com').click(function () {
                getComments();
            });
        });
    </script>
{% endblock %}