{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.edit'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ 'form.edit.profile.title'|trans|capitalize }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'word.save'|trans|capitalize }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}