{% extends 'base.html.twig' %}

{% block title %}{{ 'page.update.password.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'page.update.password.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'word.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}